apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-160"
  name: {{ .Values.spec.env }}-nginx
  namespace: argocd
spec:
  destination:
    namespace: nginx
    server: {{ .Values.spec.destination.server }}
  project: {{ .Values.spec.destination.project }}
  syncPolicy:
   automated: {}
   syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=orphan
    - ServerSideApply=true
  sources:                     
  - repoURL: 'https://kubernetes.github.io/ingress-nginx'
    targetRevision: 4.11.1
    chart: ingress-nginx
    helm:
      releaseName: private
      values: |-
        fullnameOverride: private
        controller:
          allowSnippetAnnotations: "true"
          extraArgs:
            default-ssl-certificate: "cert-manager/wildcard-rimci"
          ingressClassResource:
            name: private
            enabled: true
            default: false
            controllerValue: "k8s.io/private-ingress-nginx"             
          image:
            registry: {{ .Values.spec.registry }}
            digest: ""
          config:
            force-ssl-redirect: "true"            
          admissionWebhooks:
              enabled: false
              patch:
                 enabled: true
                 image:
                    registry: {{ .Values.spec.registry }}
                    digest: ""                         
          service:
              annotations:
                 kube-vip.io/ignore: "true"
                 "io.cilium/lb-ipam-ips": "172.16.14.244"  
        tcp:
          22: "gitlab/gitlab-gitlab-shell:22"                 
  - repoURL: 'https://kubernetes.github.io/ingress-nginx'
    targetRevision: 4.11.1
    chart: ingress-nginx
    helm:
      releaseName: public
      values: |-
        fullnameOverride: public
        controller:
          allowSnippetAnnotations: "true"
          extraArgs:
            default-ssl-certificate: "cert-manager/wildcard-rimci" 
          ingressClassResource:
            name: public
            enabled: true
            default: false
            controllerValue: "k8s.io/public-ingress-nginx" 
          config:
            force-ssl-redirect: "true"                                
          image:
            registry: {{ .Values.spec.registry }}
            digest: ""  
          admissionWebhooks:
              enabled: false
              patch:
                 enabled: true
                 image:
                    registry: {{ .Values.spec.registry }}
                    digest: ""                         
          service:
              annotations:
                 kube-vip.io/ignore: "true"
                 "io.cilium/lb-ipam-ips": "172.16.14.245"              
